assets/css/tailwind.css
assets/js/htmx.min.js
assets/js/hyperscript.min.js
assets/js/remove-me.js
assets/js/response-targets.js
locale/active.en.toml
locale/translate.*.toml
tmp/

node_modules/
package-lock.json

*_templ.go
